/* CSS Reset */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default styles */

body {
    font-family: 'Poppins';
    font-size: 14px;
}













/* Container */
/* ======================= */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}



/* Header */
/* ======================= */

.header {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 25px 0;
}


/* Navigation */
/* ======================= */

.nav {
    font-size: 1.1em;
    text-transform: uppercase;
    display: flex;
    gap: 50px;
}

.nav__link {
    display: block;
    opacity: 0.5;
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.3s;
}

.nav__link:hover {
    transform: translateY(-3px);
    opacity: 1;
}


/* Intro */
/* ======================= */

.intro {
    padding-top: 160px;
    height: 750px;

    background: url(./images/Intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.intro__title {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.intro__subtitle {
    text-align: center;
    line-height: 30px;
}

.intro__button {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 5px;
    width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    color: ghostwhite;
    background-color: #74AA9C;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.intro__button:hover {
    transform: translateY(-5px);
}


/* Features */
/* ======================= */

.features {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.feature__item {
    padding: 0 30px;
    border-radius: 7px;
    width: 33.3333%;
    text-align: center;
}

.feature__icon {
    margin-bottom: 20px;
}

.feature__title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feature__description {
    opacity: 0.7;
    line-height: 2.5em;
}

@media (max-width:768px) {
    .feature__item {
        width: 50%;
    }
}


@media (max-width:660px) {
    .nav {
        display: none;
    }

    .header__inner {
        justify-content: center;
        align-items: center;
    }

    .feature__item {
        margin-bottom: 20px;
        width: 100%;
    }
}